* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
#top > p > a {
    
    text-decoration: none;
    border-bottom: 1px solid;
    color: white;
}
#top > p {
    padding: 16px;
    font: 19.2px, 'Lato', sans-serif;
}
#top {
    text-align: center;
    font-size: 1.2rem;
    color: white;
    background-color: #00A1DF;
    padding: 0px;
}
body {
    color: #20262e;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 24px;
    letter-spacing: normal;
}
div {
    overflow: hidden;
}
.tt > img {
    margin-top: 25%;
    width: 24px;
    height: 24px;
}
img {
    height: 100%;
}
#top21 {
    width: 90%;
    margin-inline: 5%;
    display: flex;
    height: 48px;
}
#top21 > #ta, #top21 > #td {
    width: 6.3%;
}
#top21 > #tb {
    width: 10.6%;
}
#top21 > #tc {
    text-align: center;
    width: 76%;
    display: flex;
    padding-top: 12px;
    padding-bottom: 12px;
}
#tc > #t1 {
    width: 90%;
}
#top21 > div {
    padding: 0px 24px;
}
#top3 > div {
    margin: 1%;
}
a {
    text-decoration: none;
}
.but {
    font: 19.2px, 'Lato', sans-serif;
    padding: 13px;
    cursor: pointer;
    background-color: white;
    margin-right: 3%;
    width: 170px;
    border: none;
    /* padding: 2px; */
    color: #505863;
}
#t3flx > div:hover {
    cursor: pointer; 
    -moz-box-shadow: 6px 6px 10px lightgray;
    -webkit-box-shadow: 6px 6px 10px lightgray;
    box-shadow: 6px 6px 10px lightgray;
    border-radius: 5px;
    border: 1px solid lightgray;
}
#here {
    display: flex;
}
#t3flx > div {
    border: 2px solid white;
    display: flex;
    margin-right: 21px;
}
.but:hover {
    
    border-radius: 4px;
    background-color: lightgrey;
    box-shadow: #505863;
}
#flexhere {
    display: flex;
    justify-content: space-between;
}
#t3flx {
    text-align: center;
    display: flex;
    height: 60px;
    justify-content: start;
}
.role {
    padding: 1.5%;
    display: flex;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-left: 2%;
}
.role:hover, #cap1:hover {
    cursor: pointer;
    -moz-box-shadow: 8px 8px 14px lightgray;
    -webkit-box-shadow: 8px 8px 14px lightgray;
    box-shadow: 8px 8px 14px lightgray;
}
.easy {
    margin-right: 5px;
}
.roleLeft > .up {
    flex-basis: 50%;
}
.seejob {
    
    font-weight: bold;
    color: #1861BF;
    margin-top: 2%;
    display: flex;
    justify-content: center;
}
.seejob > div > img {
    height: 44%;
}
#dontmiss > #up {
    display: flex;
    height: 36px;
}
#littledown {
    margin-top: 1%;
    margin-left: 2%;
}
#dontmiss > #down > form {
    display: flex;
    justify-content: space-between;
}
#dontmiss > #down {
    padding: 2%;
}
#sub {
    font-size: 15px;
    font-weight: bold;
    margin-top: 25%;
    background-color: white;
    border: 2px solid #1861BF;
    color: #1861BF;
    padding: 7px 16px;
}
.inpTxt {
    padding: 12px;
    font-size: 15px;
}
.seejob > div {
    cursor: pointer;
}

.roleLeft > .up > img {
    margin: 4px 0px;
    height: 100%;
    width: 100%;
}
.fav > .up > img {
    height: 24px;
    width: 24px;
}
.roleLeft {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    padding-right: 2%;
}
.roleRight {
    flex-basis: 80%;
    display: grid;
    grid-template-areas: "uu uu uu uu uu uu1"
                         "uuu uuu uuu uuu uuu uu1"
                         "uz uz uz uz uz uz"
                         "uy uy uy uy uy uy";
}
.u1 {
    grid-area: uu;
}
.uPost {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    grid-area: uuu;
}
.fav > .up {
    grid-area: uu1;
}
.loc {
    grid-area: uz;
}
.ft1 {
    grid-area: uy;
    display: flex;
    flex-direction: row-reverse;
}
.im > img {
    width: 48px;
    height: 48px;
}
#t3flx > div > div {
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}
#t3flx > div > div:nth-child(2) {
    padding-top: 11px;
}
#t3flx > div > div > img {
    height: 80%;
}
#main {
    margin-top: 2%;
    margin-inline: 2%;
    clear: both;
    display: grid;
    grid-gap: 3%;
    grid-template-areas: "z z z r r r r r r r"
                         "z z z r r r r r r r"
                         "z z z r r r r r r r"
                         "z z z r r r r r r r"
                         "z z z r r r r r r r"
                         "z z z r r r r r r r"
                         "z z z r r r r r r r"
                         "z z z r r r r r r r"
                         "z z z r r r r r r r"
                         "z z z r r r r r r r"
                         "z z z r r r r r r r"
                         "z z z r r r r r r r"
                         "z z z r r r r r r r"
                         "z z z r r r r r r r"
                         "z z z r r r r r r r"
                         "z z z r r r r r r r"
                         "z z z r r r r r r r"
                         "z z z r r r r r r r"
                         "z z z r r r r r r r"
                         "z z z r r r r r r r"
                         "z z z r r r r r r r"
                         "z z z r r r r r r r"
                         "z z z r r r r r r r"
                         "z z z r r r r r r r"
                         "z z z r r r r r r r"
                         "z z z r r r r r r r"
                         "z z z r r r r r r r";
}
#cap1 {
    border: 1px solid lightgray;
    border-radius: 5px;
    cursor: pointer;
}
#upl {
    height: 36px;
    width: 134px;
}
#finish {
    margin-bottom: 8px;
    border: none;
    border-radius: 4px;
    padding: 14px;
    font-weight: bold;
    color: white;
    background-color: #1861BF;
    cursor: pointer;
    font-size: 15px;
}
#sub:hover {
    color: white;
    background-color: #1861BF;
    cursor: pointer;
}
#finish:hover {
    background-color: #0C4085;
}
#cc1, #cc2 {
    padding: 9px;
}
#gr {
    color: gray;
    margin-top: 2px;
}
#profile {
    height: 56px;
}
#prg {
    width: 100%;
}
.jobtitle {
    display: flex;
}
.jobtitle > div > img {
    height: 24px;
}
.matter:hover {
    color: darkblue;
}
.matter {
    cursor: pointer;
    margin-left: 3px;
    font-weight: bold;
    color: #1861BF;
}
#cc1 {
    border-bottom: 1px solid lightgray;
}
#locn {
    margin: 3px;
}
.small {
    font-size: 12px;
}
#left {
    grid-area: z;
}
#rright > div {
   margin-top: 2%;
}
#right {
    grid-area: r;
}
#rright {
    display: grid;
    grid-template-areas:    "a a a a"
                            "b b b b"
                            "b b b b"
                            "b b b b"
                            "c c d d"
                            "c c d d"
                            "e e f f"
                            "e e f f"
                            "g g g g"
                            "h h h h"
                            "h h h h"
                            "h h h h"
                            "h h h h"
                            "h h h h";
}
.inpTxt:focus {
    border: 1px solid lightgray;
    box-shadow: 1px 1px 5px 1px lightblue;
}
.inpTxt:hover {
    border: 1px solid black;
}
.inpTxt {
    border: 1px solid lightgray;
    border-radius: 5px;
}
#location {
    cursor: pointer;
    grid-area: a;
    background-color: #E6F8FF;
    border-radius: 5px;
    border: 1px solid lightgrey;
    padding: 5px;
    padding-left: 10px;
}
#location > a {
    text-decoration: none;
    color: #1861BF;
}
#xplor {
    grid-area: b;
}
#r1 {
    /* background-color: #00A1DF; */
    grid-area: c;
}
#r2 {
    grid-area: d;
}
#r3 {
    grid-area: e;
}
#r4 {
    grid-area: f;
}
#see {
    grid-area: g;
}
#dontmiss {
    border-radius: 6px;
    padding: 8px;
    border: 1px solid lightgray;
    grid-area: h;
}
#sub {
    border: 1px solid blue;
    border-radius: 3px;
    padding: 12px;
}
#continue {
    padding: 2px;
}
#cflex {
    display: flex;
    padding: 8px;
    padding-top: 16px;
    font-size: 15px;
    width: 50%;
    background-color: white;
    border: 1px solid gray;
    cursor: pointer;
}
#cfin > div> img{
   
    height: 24px;
    width: 24px;
}
#hk {
    display: flex;
}
#cfin{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#topSearch {
    display: flex;
    border-bottom: 1px solid lightgray;
    padding: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
}
.sizeIt {
    height: 40px;
}
#searc, #ta4 {
    border: none;
    font-size: 16px;
    padding: 2px;
}
#searc:focus, #ta4:focus {
    outline: none;
}
#a2, #a3, #ta4 {
    border: 1px solid lightgray;
    border-radius: 5px;
}
#arow {
    height: 16px;
}
#a3 {
    padding: 11px;
}
#a3:hover {
    border: 1px solid gray;
}
#submt {
    padding: 20px;
    font-size: 18px;
    color: white;
    background-color: #0CAA41;
    border: none;
    border-radius: 6px;

}
#submt:hover {
    cursor: pointer;
    background-color: green;
}
#ta4 {
    padding: 6px;
    height: 47px;
}
#a2 {
    display: flex;
    width: 350px;
}
#searc {
    width: 300px;
}
#a3 {
    display: flex;
    flex-direction: row;
}
#a1 {
    margin-inline: 7px;
}
.aas {
    margin-left: 2.5%;
}
#a1, #a3 {
    cursor: pointer;
}
.aas {
    height: fit-content;
}

  .Dropdown1
        {
            display: flex;
            flex-flow: column;
            font-size: 20px;
            margin: 1%;
            border: gray 1px solid;
            width: 15%;
            border-radius: 4px;
            position: absolute;
            display: none;  
            margin-top: 3%;
            margin-left: 0;      
        }
        

      
        #t31:hover  .Dropdown1
       {
        display: block; 
        background-color: white;
          
        }
        #t32:hover .Dropdown1
       {
          display: block; 
          background-color: white;
        }
        #t33:hover .Dropdown1
       {
          display: block; 
          background-color: white;
        }
        #t34:hover  .Dropdown1
       {
          display: block; 
          background-color: white;
        }
         .Dropdown1 div
        {
           margin: 4%;
        }

        .Dropdown1 div:hover
        {
           background-color: rgb(207, 202, 202);
           border-radius: 6px;
        }
   
        .signout
        {
            display: flex;
            flex-flow: column;
            font-size: 20px;
            padding: 0.5%;
            border: gray 1px solid;
            width: 12%;
            border-radius: 4px;
            position: absolute;
            display: none;  
          
        }
        .signout  div
        {
            margin-top: 10px;
            font-size: 20px;
            color: rgb(94, 93, 93);
            cursor: pointer;
        }
       
        #a7:hover  .signout
        {
         display: block; 
         background-color: white;

         }

         .signout div:hover
         {
             background-color: rgb(190, 190, 190);
             border-radius: 5px;
         }