* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#top > p > a {
    
    text-decoration: none;
    border-bottom: 1px solid;
    color: white;
}
#top > p {
    padding: 16px;
    font: 19.2px, 'Lato', sans-serif;
}
#top {
    text-align: center;
    font-size: 1.2rem;
    color: white;
    background-color: #00A1DF;
    padding: 0px;
}
body {
    color: #20262e;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 24px;
    letter-spacing: normal;
}
div {
    overflow: hidden;
}
#topSearch {
    display: flex;
    border-bottom: 1px solid lightgray;
    padding: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
}
.sizeIt {
    height: 40px;
}
#searc, #ta4 {
    border: none;
    font-size: 16px;
    padding: 2px;
}
#searc:focus, #ta4:focus {
    outline: none;
}
#a2, #a3, #ta4 {
    border: 1px solid lightgray;
    border-radius: 5px;
}
#arow {
    height: 16px;
}
#a3 {
    padding: 11px;
}
#a3:hover {
    border: 1px solid gray;
}
#submt {
    padding: 20px;
    font-size: 18px;
    color: white;
    background-color: #0CAA41;
    border: none;
    border-radius: 6px;

}
#a5 {
    padding-bottom: ;
}
#submt:hover {
    cursor: pointer;
    background-color: green;
}
#ta4 {
    padding: 6px;
    height: 47px;
}
#a2 {
    display: flex;
    width: 350px;
}
#searc {
    width: 300px;
}
#a3 {
    display: flex;
    flex-direction: row;
}
#a1 {
    margin-inline: 10px;
}
.aas {
    margin-left: 3%;
}
#a1, #a3 {
    cursor: pointer;
}